/* This stylesheet is for your tested CSS, styles here will be deactivated when toggling wireframe style *./*/

html body main article#about-me section#more-about-me ul li.heading{
    list-style: none;
    text-decoration: underline;
    padding-top: 1ch;
}