@import 'config'
@import 'helper-classes'
@import 'headings'

//import navbar files
@import "navbar/core"
@import "navbar/desktop"
@import "navbar/tablet"
@import "navbar/mobile"
@import "navbar/sticky"

//import header files
@import 'header/core'
@import 'header/desktop'
@import 'header/tablet'
@import 'header/mobile'

//import footer files
@import 'footer/core'
@import 'footer/desktop'
@import 'footer/tablet'
@import 'footer/mobile'

//import debugbar files
@import 'debugbar/core'
@import 'debugbar/mobile'

html
  scroll-behavior: smooth
  scroll-padding-top: 120px

body
  padding: 0
  margin: 0
  background-color: $body-background
  #background
    position: absolute
    background-image: linear-gradient(40deg, transparent 50%, $body-accent 50%)
    height: 100vh
    width: 100%
    z-index: -1
    left: 0
    top: 0

  main
    section
      height: 80vh
      max-width: 75%
      margin: 10vh auto
      background-color: #F4F4F4
    .card-container
      position: relative
      width: 250px
      height: 320px
      background-color: greenyellow
      .card
        position: absolute
        width: 100%
        height: 100%
        transform-style: preserve-3d
        transition: all 0.5s ease
        background-color: yellow
        .front
          position: absolute
          width: 100%
          height: 100%
          backface-visibility: hidden
          background-color: yellow
          color: black
        .back
          position: absolute
          width: 100%
          height: 100%
          backface-visibility: hidden
          background-color: yellow
          color: black
          transform: rotateY(180deg)
      .card:focus
        transform: rotateY(180deg)
      //.card:hover
      //  transform: rotateY(180deg)
  #landing
    margin-top: 0

#toggleWireframeCSS
  position: fixed
  right: 0
  bottom: 0
  margin: 1rem
  z-index: 0