@media only screen and (max-width: 599px)
  body
    footer

      #email
        a:hover
          background-color: transparent
          color: white

      #links
        min-width: 100%

      #company-section
        min-width: 100%

      #improvement
        min-width: 100%